{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Muhia - Inicio</title>
    {% endblock %}

{% block content %}

    <section id="sobre_nosotros" class="page-section">
        <div class="container py-3 py-xl-3">
            <div class="row mb-0">
                <div class="col-md-4 col-lg-3" data-aos="zoom-out">
                    <img class="img-fluid d-flex" src="{% static 'img/chica_muhia.png' %}">
                </div>
                <div class="col-md-8 col-xl-6 text-center mx-auto" data-aos="zoom-in" data-aos-delay="50">
                    <h2 class="font-weight-bold" style="font-family: 'Abril Fatface', serif;">El equipo lo es todo</h2>
                    <p class="w-lg-50" style="font-family: Lora, serif;font-size: 20px;">Nuestro equipo es como una gran familia</p>
                    <h4 class="font-weight-bold" style="color: blueviolet;"><strong>Contenido en construcción</strong>.</h4>
                    <p>... ...</p>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4 col-xl-6 mx-auto">
                    <img class="img-fluid d-flex" src="{% static 'img/equipo_1.png' %}">
                </div>
                <div class="col-md-4 col-xl-6 mx-auto">
                    <div class="d-flex align-items-start" data-aos="fade-right" data-aos-duration="700" data-aos-delay="30">
                        <h4 class="font-weight-bold">Inés</h4>
                            <p>...</p>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4 col-xl-6 mx-auto">
                    <img class="img-fluid d-flex" src="{% static 'img/equipo_2.png' %}">
                </div>
                <div class="col-md-4 col-xl-6 mx-auto">
                    <div class="d-flex align-items-start" data-aos="fade-right" data-aos-duration="700" data-aos-delay="30">
                        <h4 class="font-weight-bold">Especialistas</h4>
                            <p>...</p>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-4 col-xl-6 mx-auto">
                    <img class="img-fluid d-flex" src="{% static 'img/equipo_3.png' %}">
                </div>
                <div class="col-md-4 col-xl-6 mx-auto">
                    <div class="d-flex align-items-start" data-aos="fade-right" data-aos-duration="700" data-aos-delay="30">
                        <h4 class="font-weight-bold">Especialistas</h4>
                            <p>...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="Eventos_curiosidades" class="page-section clearfix">
        <div class="container">
            <div class="row">
                <div class="card" style="background: rgba(255,255,255,0);">
                    <div class="card-body" style="background: rgba(255,255,255,0);">
                        <h2 class="card-title" data-aos="fade" data-aos-duration="50" data-aos-delay="50" style="color: var(--indigo);font-weight: bold;font-family: 'Abril Fatface', serif;">Página en Construcción</h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <div id="imagen_cabecera_card" class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="slide-up" data-aos-duration="600" data-aos-delay="50"><img class="py-1 mx-2" src={% static 'img/imperio_romano.jpeg' %} style="position: relative;" width="102" height="104">
                                                <div id="contenido_card" style="max-width: 350px;">
                                                    <h4 class="font-weight-bold" style="max-width: 300px;"><strong>Definir contenido de ínteres</strong>.</h4>
                                                        <p>... ...</p>
                                                        <a href="#" style="color: var(--purple);">Conoce más&nbsp;
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right" style="color: var(--purple);">
                                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                                                            </svg>
                                                        </a>
                                                </div>
                                                <hr class="my-5">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="container">
                    
                </div>
            </div>
        </div>
    </section>

{% endblock %}