{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Muhia - Inicio</title>
    {% endblock %}

{% block content %}

<section id="sobre_nosotros" class="page-section">
    <div class="container py-3 py-xl-3">
        <div class="row mb-1">
            <h2 class="font-weight-bold" style="font-family: 'Abril Fatface', serif;">¿Qué es MUHIA?</h2>
            <p class="w-lg-50" style="font-family: Lora, serif;font-size: 20px;">Producciones MUHIA SRL es una empresa con capital 100% privado, 
              que se dedica a la elaboración y comercialización de productos de limpieza y desinfección de alta gama, 
              destinados al uso doméstico, institucional y hotelero. Contamos tambiéncon líneas de aseo, belleza personal
              y línea automotriz.
            </p>
        </div>
        <div class="row">
            <h2 class="font-weight-bold py-3" data-aos="zoom-out" style="font-family: 'Abril Fatface', serif;">Misión</h2>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">
                    <div>
                        <p class="w-lg-50" style="font-family: Lora, serif;font-size: 20px;">Ofrecer productos de calidad que ayuden a mantener la limpieza y el bienestar de las personas, los hogares, las instituciones y su automóvil.</p>
                    </div>
                </div>
                <hr class="my-3">
            <h2 class="font-weight-bold py-3" data-aos="zoom-out" style="font-family: 'Abril Fatface', serif;">Visión</h2>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-right" data-aos-duration="600">
                    <div>
                        <p class="w-lg-50" style="font-family: Lora, serif;font-size: 20px;">Ser reconocidos por nuestros clientes, empleados y grupos de interés, como la marca cubana de limpieza y aseo personal con mayor responsabilidad social y ambiental en el país y con los productos de más alta calidad.</p>
                    </div>
                </div>
                <hr class="my-3">
            <h2 class="font-weight-bold py-3" data-aos="zoom-out" style="font-family: 'Abril Fatface', serif;">Valores que defendemos</h2>
            <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center mr-4 d-inline-block bs-icon bs-icon-xl" style="background: #153d50;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-stars">
                    <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"></path>
                  </svg>
                </div>
                <div>
                  <h4 class="font-weight-bold">Calidad en desarrollo</h4>
                  <p style="font-family: roboto; color: #153d50;line-height: normal; text-align: justify;">Muhia es una pequeña empresa que se destaca por otorgar gran importancia a los estándares de calidad. Por lo tanto, se ocupa de comunicarlos de manera transparente y de superar las expectativas de los clientes.</p>
                  <p style="font-family: roboto; color: #153d50;line-height: normal; text-align: justify;">Todos sus productos están certificados y se elaboran tomando en cuenta diferentes variables que garantizan la mejor experiencia para públicos específicos.</p>
                  <p style="font-family: roboto; color: #153d50;line-height: normal; text-align: justify;">Reconoce el valor que radica en la autoevaluación, la superación, el perfeccionamiento de los procesos y las tecnologías. Estos son el camino para llevar la Organización hacia mejores resultados.</p>
                </div>
              </div>  
              
              <hr class="my-3">
              
              <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-left" data-aos-duration="600">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center order-last ml-4 d-inline-block bs-icon bs-icon-xl" style="background: #153d50;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check2-circle">
                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"></path>
                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"></path>
                  </svg>
                </div>
                <div>
                  <h4 class="font-weight-bold">Profesionalidad</h4>
                  <p style="font-family: roboto; color: #153d50;line-height: normal; text-align: justify;"> Esta se expresa en la consagración a suplir las necesidades de los clientes, alcanzar los niveles de producción adecuados y garantizar el cumplimiento de los calendarios de entrega.</p>
                    <p style="font-family: roboto; color: #153d50;line-height: normal; text-align: justify;">Por un lado, MUHIA está decidida a escuchar y complacer a sus distintos públicos. Por otra parte, su ambiente laboral promueve la cooperación, el apoyo mutuo y la laboriosidad continua.</p>
                </div>
              </div>
              
              <hr class="my-3">
              
              <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-right" data-aos-duration="650" data-aos-delay="100">
                <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center mr-4 d-inline-block bs-icon bs-icon-xl" style="background: #153d50;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-shield-lock-fill">
                    <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5"></path>
                  </svg>
                </div>
                <div>
                  <h4 class="font-weight-bold">Responsabilidad social y ambiental</h4>
                  <p style="font-family: roboto; color: #153d50;line-height: normal; text-align: justify;">En MUHIA hay un doble compromiso con los problemas y necesidades de las organizaciones comunitarias. Existe una conciencia acerca de los aspectos de orden social que varían en el entorno y una capacidad de actuación rápida ante ellos.</p>
                  <p style="font-family: roboto; color: #153d50;line-height: normal; text-align: justify;">La empresa cuenta con una economía circular, protegiendo los alrededores naturales de los desechos que se derivan de los procesos productivos. Además, realiza acciones orientadas a educar y estimular el emprendimiento responsable en Cuba.</p>
                </div>
              </div>
        </div>
        </div>
    </div>
</section>

{% endblock %}