/contact/migrations
/enlac_preg/migrations
/equipo/migrations
/galeria/migrations
/gestion/migrations
/news/migrations
/pages/migrations
/portal/migrations
/registration/migrations
*.log
*.sqlite3
*.pyc
__pychache__/
.env
venv/
env/
media/
static/
proyectos_muhia/settings.py 
