{% extends 'base.html' %}

{% load static %}

{% block title %}
    <title>Muhia - Servicios</title>
    {% endblock %}

{% block content %}

<section id="tiendas" class="page-section">
    <div class="container py-3 py-xl-3">
        <div class="row mb-1">
            <div class="col-md-8 col-xl-6 text-center mx-auto" data-aos="zoom-in" data-aos-delay="50">
                <h2 class="font-weight-bold" style="font-family: 'Abril Fatface', serif;">Ventas de nuestros productos y materias primas</h2>
                <p class="w-lg-50" style="font-family: Lora, serif;font-size: 20px;">... Contenido en construcción...</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-xl-6 mx-auto p-4">
                <h2 class="font-weight-bold py-3" data-aos="zoom-out" style="font-family: 'Abril Fatface', serif;">Tiendas físicas</h2>
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center mr-4 d-inline-block bs-icon bs-icon-xl" style="background: var(--blue);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-stars">
                            <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"></path>
                        </svg></div>
                    <div>
                        <h4 class="font-weight-bold">Matanzas</h4>
                        <p>... Contenido en construcción...</p>
                    </div>
                </div>
                <hr class="my-3">
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-right" data-aos-duration="600">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center order-last ml-4 d-inline-block bs-icon bs-icon-xl" style="background: var(--blue);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-check2-circle">
                            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"></path>
                            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"></path>
                        </svg></div>
                    <div>
                        <h4 class="font-weight-bold">Habana</h4>
                        <p>... Contenido en construcción...</p>
                    </div>
                </div>
                <hr class="my-3">
                <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-left" data-aos-duration="650" data-aos-delay="100">
                    <div class="bs-icon-xl bs-icon-circle bs-icon-primary d-flex flex-shrink-0 justify-content-center align-items-center mr-4 d-inline-block bs-icon bs-icon-xl" style="background: var(--blue);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-shield-lock-fill">
                            <path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0m0 5a1.5 1.5 0 0 1 .5 2.915l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99A1.5 1.5 0 0 1 8 5"></path>
                        </svg></div>
                    <div>
                        <h4 class="font-weight-bold">Otras</h4>
                        <p>... Contenido en construcción...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 align-content-center modal-dialog-centered">
                <div class="p-xl-2 m-xl-3 align-items-center"><img class="rounded img-fluid fit-cover" data-aos="flip-up" style="position: relative;" src={% static 'img/sobre_nosotros.png' %}></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="intro"></div>
    </div>
</section>

<section id="Eventos_curiosidades" class="page-section clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="simple-slider">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div data-aos="slide-left" data-aos-duration="600" data-aos-delay="50" class="swiper-slide" style="background: url(&quot;static/img/carousel/carousel.jpeg&quot;) center center / cover no-repeat;"></div>
                                <div class="swiper-slide" style="background: url(&quot;static/img/carousel/carousel2.jpeg&quot;) center center / cover no-repeat;"></div>
                                <div class="swiper-slide" style="background: url(&quot;static/img/carousel/carousel3.jpeg&quot;) center center / cover no-repeat;"></div>
                                <div class="swiper-slide" style="background: url(&quot;static/img/galeria3.jpg&quot;) center center / cover no-repeat;"></div>
                                <div class="swiper-slide" style="background: url(&quot;static/img/galeria4.jpg&quot;) center center / cover no-repeat;"></div>
                                <div class="swiper-slide" style="background: url(&quot;static/img/galeria5.jpg&quot;) center center / cover no-repeat;"></div>
                                <div class="swiper-slide" style="background: url(&quot;static/img/galeria6.jpg&quot;) center center / cover no-repeat;"></div>
                                <div class="swiper-slide" style="background: url(&quot;static/img/galeria7.jpg&quot;) center center / cover no-repeat;"></div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card" style="background: rgba(255,255,255,0);">
                                <div class="card-body" style="background: rgba(255,255,255,0);">
                                    <h2 class="card-title" data-aos="fade" data-aos-duration="50" data-aos-delay="50" style="color: var(--indigo);font-weight: bold;font-family: 'Abril Fatface', serif;">Curiosidades</h2>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col">
                                                <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="slide-up" data-aos-duration="600" data-aos-delay="50"><img class="py-1 mx-2" src={% static 'img/imperio_romano.jpeg' %} style="position: relative;" width="102" height="104">
                                                    <div>
                                                        <h4 class="font-weight-bold" style="max-width: 300px;"><strong>El jabón tuvo su origen en el Imperio Romano</strong>.</h4>
                                                        <p>Así reza la leyenda del Monte Sapo, donde las túnicas de los soldados y ciudadanos que se acercaban a las laderas ...</p><a href="#" style="color: var(--purple);">Conoce más&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right" style="color: var(--purple);">
                                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                                                            </svg></a>
                                                    </div>
                                                </div>
                                                <hr class="my-5">
                                                <div class="d-flex align-items-center align-items-md-start align-items-xl-center" data-aos="fade-down" data-aos-duration="50" data-aos-delay="600">
                                                    <div>
                                                        <h4 class="font-weight-bold" style="max-height: 230px;max-width: 290px;"><strong>Nunca combines lejía y amoniaco.</strong></h4>
                                                        <p>Al mezclar estos dos productos se produce un gas denominado cloramina que puede dar lugar a graves quemaduras en la piel...</p><a href="#" style="color: var(--purple);">Conoce más&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-right">
                                                                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"></path>
                                                            </svg></a>
                                                    </div><img class="py-1 mx-2" src={% static 'img/lejia-amoniaco.jpg' %} width="109" height="110">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}